body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Wix Madefor Text", sans-serif;
}
main{
    background-color: rgb(31, 31, 76);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    width: 100%;
}


span{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: bolder;
}
.picture{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.surati1{
    background-image: url('img1.avif');
    background-repeat: no-repeat;
    opacity: 0.9;
    background-position: center;
    background-size: contain;
    height: 686px;
    width: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    padding: 40px;
    padding-bottom: 130px;
    gap: 30px;
}
.surati2{
    background-image: url('img2.avif');
    background-repeat: no-repeat;
    opacity: 0.8;
    background-position: center;
    background-size: contain;
    width: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    padding: 40px;
    padding-bottom: 135px;
    gap: 30px;
}
.surati3{
    background-image: url('img3.avif');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    padding: 40px;
    padding-bottom: 138px;
    gap: 30px;
}
.h2{
    color: rgb(255, 255, 255) !important;
    font-size: 25px !important;
    font-weight: bolder !important;
}
.p2{
    color: white !important;
    font-size: 17px;
    font-weight: lighter;
    width: 250px;
    line-height: 1.5;
   
    
}
.button{
    width: 110px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
  color: black;
    border-radius: 20px;
    font-weight:lighter;
}
.text{
 background-color: rgb(176, 176, 176);
    width: 100%;
    height: 560px;
    display: flex;
text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
p{
   color: rgb(20, 20, 72);
   font-weight: bold;
  max-width:  900px;
    font-size: 30px;
   line-height: 1.5;
    align-items: center;
}
.p1{
    font-weight: none;
    font-size: 20px;
    position: relative;
    top: 20px;
}
.scuba{
    position: relative;
    top: -600px;
    left: 20px;
    color: white;
}